{% extends "base.html" %}
{% block title %}Quizzes{% endblock title %}
{% block content %}
    {% for quiz in quizzes %}
      <li>
        <div class="icon-circle"><i class="fa-solid fa-circle-question"></i></div>
        <span class="label">{{ quiz.topic }}</span>

        {% comment %} {% if quiz.attempted %}
            <a href="{% url 'quiz_take' quiz.id %}">Retake Quiz</a>
            <a href="{% url 'quiz_result' quiz.id %}">Show Quiz Result</a>
        {% else %}
            <a href="{% url 'quiz_take' quiz.id %}">Start Quiz</a>
        {% endif %} {% endcomment %}
         {% if quiz.attempted %}
            <a href="{% url 'quiz_take' quiz.id %}">Retake Quiz</a>
            <a href="{% url 'quiz_result' quiz.attempt.id %}">Show Quiz Result</a>
        {% else %}
            <a href="{% url 'quiz_take' quiz.id %}">Start Quiz</a>
        {% endif %}


        <a href="{% url 'quiz_detail' quiz.id %}">Quiz Detail</a>
        <a href="{% url 'delete_quiz' quiz.id %}">Delete Quiz</a>
      </li>
    {% empty %}
      <li>
        <span class="label text-muted">No quizzes yet</span>
      </li>
    {% endfor %}
{% endblock content %}
